<h5 class="my-3 border-bottom pb-2">시험문항 만들기</h5>

  <form class="testForm">
    <div class="form-group">
        <input class = 'testInput' type='text' placeholder="시험 문제 적고 엔터">
        <input type="submit" value="시험문제 만들기">
    </div>
  </form>

  <ol class="result"></ol>

  <!-- <form class = "ajaxForm" method="POST">
      <input type = "submit" class="ajaxsend" value="시험지 저장">
  </form> -->
  <!-- <a class = "ajaxsend" href="http://127.0.0.1:5000/success">전송</a> -->
  <button class="ajaxsend">전송</button>

  <div class = 'result_test'></div>
</div>

<script>
const testForm = document.querySelector('.testForm');
const testInput = testForm.querySelector('.testInput');
const result = document.querySelector('.result');

const TESTS_LS = 'testss';
let testss = [];


function paintTest(text){
    const li = document.createElement("li");
    const span = document.createElement("span");
    span.innerText = text;

    const delBtn = document.createElement("button");
    delBtn.innerText = '지워';
    delBtn.addEventListener('click', deleteTest);
    
    const newId = testss.length + 1;

    li.appendChild(span);
    li.appendChild(delBtn);
    li.id = newId;

    result.appendChild(li);
    const testObj = {
        text: text, 
        id : newId
    };

    testss.push(testObj);

    saveTests();
}

function saveTests() {
    localStorage.setItem(TESTS_LS, JSON.stringify(testss));
}

function deleteTest(event) {
    const btn = event.target;
    const li = btn.parentNode;
    result.removeChild(li);
    const cleanTests = testss.filter(function(test) {
        return test.id !== parseInt(li.id);
    });
    testss = cleanTests;
    saveTests();
}

function handleSubmit(event) {
    event.preventDefault();
    const currentValue = testInput.value;
    paintTest(currentValue);
    testInput.value = "";
}

function loadTests() {
    const loadedTests = localStorage.getItem(TESTS_LS);
    if (loadedTests !== null) {
        const parsedTests = JSON.parse(loadedTests);
        parsedTests.forEach(function(test) {
            paintTest(test.txt);
        })
    }
}

function init() {
    loadTests();
    testForm.addEventListener('submit', handleSubmit);

}

init();
</script>


<script>
    document.querySelector('.ajaxsend').addEventListener('click', function(){
        const testdata = localStorage.getItem(TESTS_LS);
        if (testdata !== null) {
            console.log(testdata)
                sendAjax('http://127.0.0.1:5000/success', testdata);
            };
        });
    

    function sendAjax(url, testdata) {
        //testdata = JSON.stringify(testdata); //이미 json??이라서 할 필요 없음??
        //console.log(testdata);       
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(testdata);
    };

    
</script>

<!-- //xhr.addEventListener('load', function() {
    //console.log(testdata)
    //var abcde = xhr.responseText
    //console.log(abcde)
    //document.querySelector(".result_test").innerHTML = abcde;
    //var abcde = xhr.responseText;
    //console.log(abcde);
    //console.log(xhr.responseText);
    //document.querySelector(".result_test").innerHTML = xhr.responseText
    //var abcde = JSON.parse(xhr.responseText);    
});
}; -->